doctype
html
  head
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:100,300")

    title Project 52 by Alice Young

  body
    != partial("_header")
    .container
      .row
        != yield