doctype
html
  head
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:100")

  body
    != partial("../_header")
    .container
      .row
        .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
            img(src="/#{ img }" class="img-responsive") 
        .col-sm-8.col-sm-offset-2
          h2= num + "/52: " + title
            span.pull-right= date
          != yield

